	.myDiv{
		border-bottom: 1px outset black;
		background-color: lightgrey;
		text-align: left;
	}
	.textBox{
		padding-left: 20px;
	}
	.lbCss{
		 	display: inline-block;
            padding: 3px 6px;
            text-align: right;
            width: 80px;
            vertical-align: top;
	}
	.heading1{
		font-style: inherit;
	}
